body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
header {
  background-color: #ffff80; /* amarillo claro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  flex-wrap: wrap;
}

.left, .right {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #000;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center-img {
  max-height: 100px;
  max-width: 100px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Franja decorativa con mensaje */
p {
  background-color: #e6ffcc; /* verde muy claro */
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #efffa5;
  padding: 0.3rem 1rem;
  gap: 1rem;
}

nav img {
  height: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#menu-principal{
  display: none;
}
#menu-contactos{
  display: none;
}



/* Sección de imágenes de dietas */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 40px;
}

main div {
  text-align: center;
}

main img {
  width: 150px;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s;
}

main img:hover {
  transform: scale(1.05);
}

main h3 {
  font-size: 60px;
  color: #444;
  margin: 50%;
}